---
Checks: >
  *,
  -fuchsia-*,
  -google-*,
  -zircon-*,
  -abseil-*,
  -modernize-use-trailing-return-type,
  -llvm-*,
  -llvmlibc-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-vararg

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: m_
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: m_
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 3
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 3
  - key: readability-function-cognitive-complexity.Threshold
    value: 25
  - key: cppcoreguidelines-no-malloc.Allocations
    value: '::malloc;::calloc'
  - key: cppcoreguidelines-no-malloc.Deallocations
    value: '::free'
  - key: cppcoreguidelines-no-malloc.Reallocations
    value: '::realloc'
  - key: cppcoreguidelines-macro-usage.AllowedRegexp
    value: '^DEBUG_*'
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '1;2;3;4;'
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: true
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: true
  - key: performance-faster-string-find.StringLikeClasses
    value: 'std::basic_string'
  - key: performance-for-range-copy.WarnOnAllAutoCopies
    value: true
  - key: readability-redundant-member-init.IgnoreBaseInCopyConstructors
    value: true
  - key: modernize-use-default-member-init.UseAssignment
    value: true