CompileFlags:
  Add: [-Wall, -Wextra, -Wpedantic, -std=c++20]


Diagnostics:
  ClangTidy:
    Add: [performance-*, modernize-*, readability-*, bugprone-*, clang-analyzer-*, cppcoreguidelines-*]
    Remove: [modernize-use-trailing-return-type]
  UnusedIncludes: Strict

Index:
  Background: Build

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes

Completion:
  AllScopes: Yes

---
If:
  PathMatch: .*\.hpp
CompileFlags:
  Add: [-Wno-unused-function]

---
If:
  PathMatch: .*
CompileFlags:
  Add: [-fdiagnostics-color=always]

Completion:
  AllScopes: Yes